{
  "name": "__NPM_PACKAGE_NAME__",
  "version": "0.1.0",
  "lockfileVersion": 3,
  "requires": true,
  "packages": {
    "": {
      "name": "__NPM_PACKAGE_NAME__",
      "version": "0.1.0",
      "bin": {
        "__NPM_PACKAGE_NAME__": "src/index.mjs"
      }
    }
  }
}
